{
  "plugins": [
    "babel-plugin-styled-components",
    "date-fns",
    [
      "lodash",
      {
        "id": ["lodash", "recompact", "recompose"]
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ],
  "presets": ["module:metro-react-native-babel-preset"]
}
